*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
    overflow: scroll;
	background-color: #09a8c5;
	color: #fff;
}

.change{
    background-color: #dadada;
    width: 50%;
    height: 480px;
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
    margin-top: 200px;
    margin-bottom: 20px;
}

#form_login {
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
    margin-left: -60px !important;
}

.form-control{
    width: 50%;
}

/* Button Styling */

.changebtn1{
    float: right !important;
    margin-right: -60px !important;
    width: 2cm;
    font-size: 18px;
    background-color: white !important;
    border: 1px solid #09a8c5 !important;
    color: #09a8c5 !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.changebtn2{
    float: right !important;
    margin-right: -160px !important;
    width: 2cm;
    font-size: 18px;
    background-color: #09a8c5 !important;
    color: white !important;
    border: none!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.changebtn1:hover{
    color: white !important;
    background-color: #09a8c5 !important;
    box-shadow: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.changebtn2:hover{
    color: #09a8c5 !important;
    background-color: white !important;
    border: 1px solid #09a8c5 !important;
    box-shadow: none !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
/* table tr td{
    padding:0px !important;
 } */