.container {
    height: 105vh;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

h3{
  margin-left: 150px;
  padding-top: 25px;
font-size: 18px !important;
}
.container{
    width: 97%;
    background-color: #dadada;
    padding-left: 20px;
    border-radius: 5px;
  }

  .formBox {
    margin-left: -20px;
    margin-bottom: 50px;
  }

textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: 1px solid #333;
    border-radius: 5px;
    resize: none;
    /* width: 30cm; */
    min-height: 220px;
    margin-bottom: 10px;
  }
  